doctype html
html
head
  title BCH VPN
  style.
    body {
    width: 50%;
    margin: 10vh auto;
    /* System default fonts */
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    }
    code {
    color: deeppink;
    /* Baseline shift */
    position: relative;
    top: -0.05em;
    }
    pre {
    color: lightseagreen;
    }
    blockquote {
    background-color: #eee;
    padding: 1em;
    border-radius: 1em;
    margin: 1em 0;
    }
    /* The CSS you'll need in your website */
    #unlockable {
    visibility: hidden;
    opacity: 0;
    transition: opacity 5s;
    }
    #unlockable.unlocked {
    visibility: visible;
    opacity: 1;
    }
  body
    block content
